<form [formGroup]="form" class="app-form">
  <div class="form-row">
    <label for="passengerName">Imię i nazwisko pasażera</label>
    <div class="form-control-wrapper">
      <input id="passengerName" type="text" pInputText formControlName="passengerName" />
      <div class="error-container">
        <small *ngIf="form.get('passengerName')?.invalid && form.get('passengerName')?.touched">
          Imię i nazwisko jest wymagane
        </small>
      </div>
    </div>
  </div>

  <div class="form-row">
    <label for="class">Klasa biletu</label>
    <div class="form-control-wrapper">
      <p-select
        inputId="class"
        formControlName="class"
        [options]="ticketClassOptions"
        optionLabel="label"
        optionValue="value"
        placeholder="Wybierz klasę"
        [overlayOptions]="{ appendTo: 'body' }"
      />
      <div class="error-container">
        <small *ngIf="form.get('class')?.invalid && form.get('class')?.touched">
          Klasa biletu jest wymagana
        </small>
      </div>
    </div>
  </div>
</form>
