::ng-deep .p-dialog-content {
    padding-bottom: 0 !important;
}

.p-field {
    display: flex;
    flex-direction: column;
}

:host ::ng-deep .p-error {
    font-size: 0.85rem;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
    color: #f44336;
}
