<form [formGroup]="form" class="p-fluid">
  <div class="p-field mb-3">
    <label for="passengerName" class="p-text-bold">Imię i nazwisko pasażera</label>
    <input id="passengerName" type="text" pInputText formControlName="passengerName" />
    <div *ngIf="form.get('passengerName')?.invalid && form.get('passengerName')?.touched" class="p-error">
      Imię i nazwisko jest wymagane
    </div>
  </div>

  <div class="p-field mb-3">
    <label for="class" class="p-text-bold">Klasa biletu</label>
    <p-select
      inputId="class"
      formControlName="class"
      [options]="ticketClassOptions"
      optionLabel="label"
      optionValue="value"
      placeholder="Wybierz klasę"
      [overlayOptions]="{ appendTo: 'body' }"
    />
    <div *ngIf="form.get('class')?.invalid && form.get('class')?.touched" class="p-error">
      Klasa biletu jest wymagana
    </div>
  </div>
</form>
