<form [formGroup]="form" class="app-form">
  <div class="form-row">
    <label for="number">Numer lotu</label>
    <div class="form-control-wrapper">
      <input id="number" type="text" pInputText formControlName="number" />
    </div>
  </div>

  <div class="form-row">
    <label for="departureTime">Data i godzina odlotu</label>
    <div class="form-control-wrapper">
      <p-datePicker
        inputId="departureTime"
        formControlName="departureTime"
        [showIcon]="true"
        [showTime]="true"
        hourFormat="24"
        dateFormat="yy-mm-dd"
        appendTo="body"
        [autoZIndex]="true"
        [baseZIndex]="10000"
      />
      <div class="error-container">
        <small *ngIf="form.get('departureTime')?.invalid && form.get('departureTime')?.touched">
          Data odlotu jest wymagana
        </small>
      </div>
    </div>
  </div>

  <div class="form-row">
    <label for="arrivalTime">Data i godzina przylotu</label>
    <div class="form-control-wrapper">
      <p-datePicker
        inputId="arrivalTime"
        formControlName="arrivalTime"
        [showIcon]="true"
        [showTime]="true"
        hourFormat="24"
        dateFormat="yy-mm-dd"
        appendTo="body"
        [autoZIndex]="true"
        [baseZIndex]="10000"
      />
      <div class="error-container">
        <small *ngIf="form.get('arrivalTime')?.invalid && form.get('arrivalTime')?.touched">
          Data przylotu jest wymagana
        </small>
      </div>
    </div>
  </div>

  <div *ngIf="form.errors?.['invalidTimeRange']" class="error-container" style="margin-left: 160px">
    <small>Odlot musi być wcześniejszy niż przylot.</small>
  </div>
</form>
