<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <ExcludeByFile>
            **/Models/**/*.cs
          </ExcludeByFile>
          <ExcludeByAttribute>
            GeneratedCodeAttribute
            ObsoleteAttribute
          </ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
